<app-navbar></app-navbar>
<div class="promotions-container">
  <h2>Latest Promotions</h2>

  <div class="promotion-grid">
    <!-- Normal promo cards -->
    <div class="promo-card">
      <img
        src="https://media-ik.croma.com/prod/https://media.tatacroma.com/Croma%20Assets/CMS/LP%20Page%20Banners/2025/Sanity/HP/Oct/03102025/HP_Rotating_iphone_3Oct2025_t4cBT80Wvz.jpg?updatedAt=1759470631356"
        alt="iPhone Promo"
      />
    </div>

    <div class="promo-card">
      <img
        src="https://media-ik.croma.com/prod/https://media.tatacroma.com/Croma%20Assets/CMS/LP%20Page%20Banners/2025/Our%20New%20Favourites/October/02102025/HP_SOH_2Split_JBLBAR_02Oct2025_5GGXzmS-U.png?updatedAt=1759390009085?tr=w-1024"
        alt="JBL Offer"
      />
    </div>

    <div class="promo-card">
      <img
        src="https://media-ik.croma.com/prod/https://media.tatacroma.com/Croma%20Assets/CMS/LP%20Page%20Banners/2025/Sanity/HP/Oct/01102025/HP_SOH_2Split_sonyHP_30Sep2025_Z_U0CACZd.png?updatedAt=1759299546153?tr=w-1024"
        alt="Sony Offer"
      />
    </div>

    <!-- ✅ Wider Samsung banner -->
    <div class="promo-banner">
      <img
        src="https://media-ik.croma.com/prod/https://media.tatacroma.com/Croma%20Assets/CMS/LP%20Page%20Banners/2025/Sanity/HP/Oct/04102025/HP_SOH_Singlesplit_SamsungBook5_04Oct2025_UP-xVavTrC.png?updatedAt=1759554044278?tr=w-1024"
        alt="Samsung Book 5 Offer"
      />
    </div>
  </div>
</div>
<app-footer></app-footer> 